body{
  margin: 0px;
}

.container {
  border-radius: 2vw;
  width: 200vw;
  min-height: 200vh;
  margin: auto;
  background: orange;
  margin-top: 15vw;
  position: relative;
}

#tooltip{
  position: absolute;
  top:0;
  left:0;
  height: 150px;
  width: 200px;
  z-index: 100;
  background: lightblue;
  font-size: 20px;
  border-radius: 6px;
}
.article{
  border-radius: 2vw;
  width: 40%;
  padding: 1%;
  margin-left: 4%;
  margin-right: 3.5%;
  margin-top: 10vh;
  min-height: 30vh;
  background: cyan;
  float: left;
  transition: background 2s;
}
.cls-26:hover{
    fill: #448AFF; 
}

.cls-27:hover{
    fill: #FFCC80; 
}

.cls-28:hover{
    fill: #BCAAA4; 
}

.cls-29:hover{
    fill: #7C4DFF; 
}

.cls-30:hover{
    fill: #9FA8DA; 
}

.cls-31:hover{
    fill: #FF5252; 
}

.cls-32:hover{
    fill: #F48FB1; 
}

.cls-33:hover{
    fill: #536DFE; 
}

.cls-34:hover{
    fill: #81D4FA; 
}

.cls-35:hover{
    fill: #B39DDB; 
}

.cls-36:hover{
    fill: #FFF59D 
}

.cls-37:hover{
    fill: #E6EE9C; 
}

.cls-38:hover{
    fill: #64FFDA; 
}

.cls-39:hover{
    fill: #EEEEEE; 
}

.cls-40:hover{
    fill: #90CAF9; 
}

.cls-41:hover{
    fill: #C5E1A5; 
}

img{
  width: 25%;
  height: 25%;
}